
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>This data set summarizes the the energy and water use for the 144 Allegheny County Operated Buildings from 2010-2014. 
        The metrics Metrics include: kBtu (thousand British thermal units) site and source EUI (energy use intensity), 
        annual electricity, natural gas and steam consumption and cost, and water and sewer use and cost. The data also 
        includes weather-normalized which allows for building comparison over time, despite any unusual weather events that may have
        occured. </a></p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>This data set come from the Western Pennsylvania Regional Data Center (WPRDC) website. The original data in multiple formats can 
		be found at <a href="https://data.wprdc.org/dataset/allegheny-county-energy-and-water-use">https://data.wprdc.org/dataset/allegheny-county-energy-and-water-use</a>.
		The fusion table for this data that I created to be able to use the data for analysis using the Google DataLab is availble
		<a href="https://www.google.com/fusiontables/DataSource?docid=15CnIT8u1snCOSRYjV3lPrEnUR_5qoGZ1ZhwGytAt">here</a>. </p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>This data is publically available online. </p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
